html,
body,
div,
h1,
h2,
h3,
p,
ul,
ol,
li,
a,
img,
form,
input,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f6e5cb;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}

/* Encabezado */
header {
    background-color: #ffc2bb;
    color: #3b3b3b;
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* max-width: 1190px;  */
    margin: 0 auto;
}

header img {
    width: 100px;
}

nav {
    color: #3b3b3b;
    text-align: center;
    padding: 10px;
    font-weight: 100;
    font-size: 25px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav li {
    padding: 15px 25px;
}

nav li:hover {
    background-color: #d76483;
    color: #fff;
}

/* Banner informativo */
.info-banner {
    background-color: #f6e5cb;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
}

.info-banner img {
    width: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.info-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height: 300px;
    justify-content: space-evenly;
    width: 50%;
}

.info-text h2 {
    font-size: 45px;
    color: #3b3b3b;
}

.info-text p {
    font-size: 21px;
    color: #3b3b3b;
    line-height: 1.5;
}

/* Nuestros servicios */
.our-services {
    background-color: #ffc2bb;
    padding: 20px;
     /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
}

.our-services h2 {
    font-size: 24px;
    color: #3b3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

/* Estilos para los servicios individuales */
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.service img {
    width: 50px;
}

.service p {
    font-size: 16px;
    color: #3b3b3b;
    text-align: center;
    width: 150px;
}

/* Publicaciones */
.post {
    background-color: #fcd0cf;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
}

.post h2 {
    color: #3b3b3b;
}

/* Parallax */
.parallax {
    background-image: url('../img/chainsaw-crew.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    padding: 180px;
}

.parallax-video {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.parallax-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.parallax-video img {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 88px;
    cursor: pointer;
}

/* Menú */
.banner {
    background-color: #d76483;
    color: white;
    text-align: center;
    padding: 20px;
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
}

.categories {
    background-color: #c3aaa5;
    display: flex;
    justify-content: center;
    padding: 10px;
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
}

.category {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: #ef9ca4;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
}

.card {
    background-color: #ffc2bb;
    border: 1px solid #d76483;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover {
    transform: scale(1.05);
}

/* Reservas */
.reservas {
    background-color: #d76483;
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
}

.reservas .banner {
    background-color: #d76483;
    color: white;
    text-align: center;
    padding: 20px;
}

.reservas .reservation-form {
    background-color: #c3aaa5;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.reservas form {
    display: flex;
    flex-direction: column;
}

.reservas label {
    margin-top: 10px;
}

.reservas input, button {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.reservas button {
    background-color: #ef9ca4;
    color: white;
    cursor: pointer;
}

.reservas button:hover {
    background-color: #ffc2bb;
}

/* Modal de Confirmación */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #c3aaa5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

button {
    background-color: #cfbdbf;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a2a9af;
}

footer {
    background-color: #f1dbda;
    color: #fff;
    text-align: center;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
}

/* Estilos para pantallas grandes (por ejemplo, computadoras de escritorio) */
@media screen and (min-width: 1024px) {
    header {
        flex-direction: row;
    }

    header img {
        width: 100px;
    }

    nav {
        font-size: 25px;
    }

    nav li {
        padding: 15px 25px;
    }

    .info-banner {
        flex-direction: row;
    }

    .info-banner img {
        width: 50%;
    }

    .info-text {
        width: 50%;
    }

    .info-text h2 {
        font-size: 45px;
    }

    .info-text p {
        font-size: 21px;
    }

    .services {
        gap: 100px;
    }

    .card {
        width: 300px;
    }
}

/* Estilos para tablets y dispositivos medianos */
@media screen and (max-width: 1023px) and (min-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        width: 80px;
    }

    nav {
        font-size: 20px;
    }

    nav li {
        padding: 15px;
    }

    .info-banner {
        flex-direction: column;
        align-items: center;
    }

    .info-banner img {
        width: 80%;
    }

    .info-text {
        width: 80%;
    }

    .info-text h2 {
        font-size: 35px;
    }

    .info-text p {
        font-size: 18px;
    }

    .services {
        gap: 50px;
    }

    .card {
        width: 100%;
    }
}

/* Estilos para dispositivos móviles (por ejemplo, smartphones) */
@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        width: 60px;
    }

    nav {
        font-size: 18px;
    }

    nav li {
        padding: 10px;
    }

    .info-banner {
        flex-direction: column;
        align-items: center;
    }

    .info-banner img {
        width: 90%;
    }

    .info-text {
        width: 90%;
    }

    .info-text h2 {
        font-size: 30px;
    }

    .info-text p {
        font-size: 16px;
    }

    .services {
        gap: 30px;
    }

    .card {
        width: 100%;
    }

    .parallax {
        height: 50vh;
    }

    .parallax-video {
        height: 50vh;
    }

    .parallax-video img {
        width: 60px;
    }

    .categories {
        flex-direction: column;
    }

    .category {
        margin: 5px;
    }

    .menu {
        padding: 10px;
    }
}